/* Handy flex container - columns in big, rows in small */
.app-handy-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.25em;
  margin-bottom: nhsuk-spacing(2);

  & :first-child {
    flex: 0 0 auto; /* Do not grow or shrink, width based on content */
  }

  & :last-child {
    flex: 1 1 auto; /* Grow to fill remaining space */
  }

  &.app-collapser {
    @include mq($until: desktop) {
      flex-direction: column;
    }
  }
}

/* App store download CTAs */

.app-store-cta-block {
  margin: 0 0 16px 0
}

.app-store-icon-container {
  display: inline-block;
  margin-right: 10px
}

@media (max-width: 640px) {
  .app-store-icon-container {
    display:inline-block;
    margin-right: 5px
  }
}

.app-store-link {
  display: inline-block;
  vertical-align: middle;
  line-height: 48px;
  margin: 10px 10px 10px 0
}

.app-store-link:last-child {
  margin-right: 0
}

.app-store-link:focus,
.app-store-link:hover {
  background: $color_nhsuk-yellow;
  box-shadow: 0 0 0 4px $color_nhsuk-yellow;
  border-radius: 5px
}

.app-store-link img {
  display: block;
  height: 48px
}

@media (max-width: 640px) {
  .app-store-link {
    display:block
  }
}
