{# Weight management base template #}
{% extends "nhsuk/template.jinja" %}

{% from "nhsuk/components/button/macro.jinja" import button %}
{% from "nhsuk/components/back-link/macro.jinja" import backLink %}
{% from "nhsuk/components/input/macro.jinja" import input %}
{% from "nhsuk/components/error-summary/macro.jinja" import errorSummary %}
{% from "nhsuk/components/checkboxes/macro.jinja" import checkboxes %}
{% from "nhsuk/components/radios/macro.jinja" import radios %}

{% set assetPath = '/static/assets' %}

{% block pageTitle %}NHS - {{ serviceName }}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ static('nhsuk-frontend.min.css') }}">
	<link rel="stylesheet" href="{{ static('assets/css/main.css') }}">
{% endblock %}

{% block header %}
  {{ header({
    "service": {
      "text": serviceName,
      "href": url('home')
    },
    "account": (
      {
        "items": [
          {
            "text": "Log out",
            "href": "#logout"
          }
        ]
      }
      if user.is_authenticated
      else None
    )
  }) }}

  {% if user.is_authenticated %}
    <form
      id="logout-form"
      method="post"
      action="{{ url('pilot_access:logout') }}"
      style="display: none;"
    >
      {{ csrf_input }}
    </form>

    <script>
      document.addEventListener("click", function (event) {
        if (event.target.closest('a[href="#logout"]')) {
          event.preventDefault();
          document.getElementById("logout-form").submit();
        }
      });
    </script>
  {% endif %}
{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module">
    import { initAll } from "{{ static('nhsuk-frontend.min.js') }}";
    initAll();
  </script>
  <script src="{{ static('assets/javascript/main.js') }}"></script>
{% endblock %}
