{% extends "web/layout/base.jinja" %}

{% block content %}
  <h1 class="nhsuk-heading-l">Delete your account</h1>

  <div class="nhsuk-warning-callout">
    <h3 class="nhsuk-warning-callout__label">This cannot be undone</h3>
    <p>This will permanently delete your account.</p>
  </div>

  <form method="post">
    {{ csrf_input }}

    <div class="nhsuk-form-group">
      {% if form.confirm.errors %}
        <span class="nhsuk-error-message">{{ form.confirm.errors[0] }}</span>
      {% endif %}

      <div class="nhsuk-checkboxes">
        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="id_confirm" name="confirm" type="checkbox" value="on">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="id_confirm">Yes, delete my account</label>
        </div>
      </div>
    </div>

    <button class="nhsuk-button nhsuk-button--warning" type="submit">Delete account</button>
    <p class="nhsuk-body nhsuk-u-margin-top-2">
      <a class="nhsuk-link" href="{{ url('htsh:account') }}">Cancel</a>
    </p>
  </form>
{% endblock %}
