{% extends "web/layout/base.jinja" %}
{% from "web/macros/layout.jinja" import two_thirds_column_start, two_thirds_column_end %}
{% from "web/macros/forms.jinja" import back_link %}
{% block beforeContent %}
    {{ back_link("/disclaimer") }}
{% endblock beforeContent %}
{% block content %}
    {{ two_thirds_column_start() }}
    <h1 class="nhsuk-heading-xl">Details not shared</h1>
    <p class="nhsuk-body-l">Because we're inviting people to try a new service, we do need some details.</p>
    <div class="nhsuk-inset-text">
        <p class="nhsuk-body">If you change your mind you can use your invite to come back.</p>
    </div>
    <p class="nhsuk-body">Other NHS services that could help you to stay healthy include:</p>
    <ul>
        <li>
            <a href="https://www.nhs.uk/better-health/">NHS Better Health</a>
        </li>
        <li>
            <a href="https://www.nhs.uk/live-well/">NHS.UK Live Well</a>
        </li>
    </ul>
    <p class="nhsuk-body">Your local authority website may also list or link to local activities.</p>
    {{ two_thirds_column_end() }}
{% endblock content %}
