# Node / build
node_modules/
dist/
*.zip
# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
# IDE
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
.DS_Store
.planning/*
**/.planning/*
# Test output
/playwright-report/
/test-results/
/reports/
.env
__pycache__
# Certificates
*.crt
# Local .terraform directories
.terraform/
# .tfstate files
*.tfstate
*.tfstate.*
# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info
.terraform.lock.hcl
