{% extends "web/layout/base.jinja" %}

{% from "web/macros/layout.jinja" import two_thirds_column_start, two_thirds_column_end %}
{% from "web/macros/forms.jinja" import form_error_summary, continue_button, back_link %}


{% set pageName = "Can a researcher contact you later on?" %}

{% block beforeContent %}
  {{ back_link("/consent-to-pilot") }}
{% endblock %}

{% block content %}
  {{ two_thirds_column_start() }}

    {% if error %}
    {{ form_error_summary({
      "titleText": "There is a problem",
      "errorList": [
        {
          "text": "Please choose an option",
          "href": "#consent-to-ur"
        }
      ]
    }) }}
    {% endif %}

    <form method="post">

      {{ radios({
        "idPrefix": "consent-to-ur",
        "name": "consent-to-ur",
        "errorMessage": {
          "text": "Please choose an option"
        } if error else undefined,
        "fieldset": {
          "legend": {
            "text": "Can a researcher contact you later on?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": "true"
          }
        },
        "hint": {
          "text": "Is it OK if one of our researchers asks you about your experience using this website in [x time]?"
        },
        "items": [
          {
            "value": "yes",
            "text": "Yes"
          },
          {
            "value": "no",
            "text": "No"
          }
        ],
        "value": data["consent-to-ur"] if data["consent-to-ur"] else undefined
      }) }}

      {{ continue_button() }}

    </form>
  {{ two_thirds_column_end() }}
{% endblock %}