{% extends "web/layout/base.jinja" %}

{% from "web/macros/layout.jinja" import two_thirds_column_start, two_thirds_column_end %}
{% from "web/macros/forms.jinja" import form_error_summary, continue_button, back_link %}


{% set pageName = "What is your home postcode?" %}

{% block beforeContent %}
  {{ back_link("/") }}
{% endblock %}

{% block content %}
  {{ two_thirds_column_start() }}

    {% if error %}
    {{ form_error_summary({
      "titleText": "There is a problem",
      "errorList": [
        {
          "text": "Enter a postcode",
          "href": "#details-postcode"
        }
      ]
    }) }}
    {% endif %}

    <form method="post">
      {{ csrf_input }}

      {{ input({
        "label": {
          "text": "What is your home postcode?",
          "classes": "nhsuk-label--l",
          "isPageHeading": "true"
        },
        "id": "details-postcode",
        "name": "details-postcode",
        "classes": "nhsuk-input--width-10",
        "value": data["details-postcode"] if data["details-postcode"] else undefined,
        "errorMessage": {
          "text": "Enter a postcode"
        } if error else undefined
      }) }}

      {{ continue_button() }}

    </form>
  {{ two_thirds_column_end() }}
{% endblock %}