{% extends "web/layout/base.jinja" %}

{% from "web/macros/layout.jinja" import two_thirds_column_start, two_thirds_column_end %}
{% from "web/macros/forms.jinja" import form_error_summary, continue_button, back_link %}


{% set pageName = "Get help to make healthy lifestyle changes that last" %}

{% block main %}
<main id="maincontent" class="app-magazine-style-start">

  <div class="nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-3">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-xl">
            Get help to make healthy lifestyle changes that last
          </h1>
          <p class="nhsuk-lede-text">From improving your mental health to upping your energy levels, exercising and eating well can make a big difference to your quality of life.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-6">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          {% set insetTextHtml %}
            <p>
              We’re inviting people from your area to try a new service where you can find activities to help you exercise more and eat healthily.
            </p>
          {% endset %}

          {{ insetText({
            "html": insetTextHtml,
            "classes": "nhsuk-u-margin-0"
          }) }}
          
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-3">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h2>Find new ways to eat well and move more</h2>
          <p>Choose from:</p>
          <ul class="nhsuk-u-padding-bottom-3">
            <li>local activities, like walking groups near you</li>
            <li>exercise programmes, like Couch to Fitness</li>
            <li>weight management programmes, like the NHS Weight Loss Plan</li>
          </ul>
          <h2>We’ll show you the options that best meet your needs</h2>
          <p>Tell us a bit about yourself and we'll match you to the activities we think will work best for you.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-0">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds nhsuk-u-padding-bottom-6">
          <div class="app-robo-mecc">
            <div>
              <h2>We’ll help you keep going</h2>
              <p>We’ll check in with you to ask how you’re doing and encourage you to carry on.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-u-padding-top-6 nhsuk-u-padding-bottom-3">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <p>
            {{ button({
              "text": "Start now",
              "href": start_href
            }) }}
          </p>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}