{% extends "web/layout/base.jinja" %}

{% from "web/macros/layout.jinja" import two_thirds_column_start, two_thirds_column_end %}
{% from "web/macros/forms.jinja" import form_error_summary, continue_button, back_link %}

{% set pageName = "Do you prefer to follow a plan or go at your own pace?" %}

{% block beforeContent %}
  {{ back_link(back_href) }}
{% endblock beforeContent %}

{% block content %}
  {{ two_thirds_column_start() }}

    {% if error %}
    {{ form_error_summary({
      "titleText": "There is a problem",
      "errorList": [
        {
          "text": "Please choose an option",
          "href": "#timetable"
        }
      ]
    }) }}
    {% endif %}

    <form method="post">
      {{ csrf_input }}

      {{ radios({
        "idPrefix": "timetable",
        "name": "timetable",
        "errorMessage": {
          "text": "Please choose an option"
        } if error else undefined,
        "fieldset": {
          "legend": {
            "text": "Do you prefer to follow a schedule or go at your own pace?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": "true"
          }
        },
        "items": [
          {
            "value": "timetable.scheduled",
            "text": "Follow a schedule"
          },
          {
            "value": "timetable.self_paced_plan",
            "text": "At my own pace"
          },
          {
            "divider": "or"
          },
          {
            "value": "dont_mind",
            "text": "Don’t mind"
          }
        ],
        "value": data.timetable if data.timetable else undefined
      }) }}

      {{ continue_button() }}

    </form>
  {{ two_thirds_column_end() }}
{% endblock content %}