{% extends "web/layout/base.jinja" %}

{% from "web/macros/layout.jinja" import two_thirds_column_start, two_thirds_column_end %}
{% from "web/macros/forms.jinja" import form_error_summary, continue_button, back_link %}

{% set pageName = "Which of the following would make the biggest difference to your health and wellbeing right now?" %}

{% block beforeContent %}
  {{ back_link(back_href) }}
{% endblock beforeContent %}

{% block content %}
  {{ two_thirds_column_start() }}

    {% if error %}
    {{ form_error_summary({
      "titleText": "There is a problem",
      "errorList": [
        {
          "text": "Please choose an option",
          "href": "#priority_behaviour"
        }
      ]
    }) }}
    {% endif %}

    <form method="post">
      {{ csrf_input }}

      <p class="nhsuk-caption-l">3/7</p>

      {{ radios({
        "idPrefix": "priority_behaviour",
        "name": "priority_behaviour",
        "errorMessage": {
          "text": "Please choose an option"
        } if error else undefined,
        "fieldset": {
          "legend": {
            "text": "Which of the following would make the biggest difference to your health and wellbeing right now?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
          {
            "value": "priority_behaviour.more_physically_active",
            "text": "Becoming more physically active"
          },
          {
            "value": "priority_behaviour.eating_drinking",
            "text": "Improving what I eat or drink"
          },
          {
            "value": "priority_behaviour.managing_weight",
            "text": "Managing my weight"
          },
          {
            "value": "priority_behaviour.mental_wellbeing",
            "text": "Improving my mental wellbeing (e.g. stress, mood, sleep)"
          },
          {
            "value": "priority_behaviour.energy_stamina",
            "text": "Building my energy and stamina"
          },
          {
            "value": "priority_behaviour.managing_condition",
            "text": "Managing a health condition better"
          },
          {
            "value": "priority_behaviour.body_confidence",
            "text": "Feeling more confident in my body"
          }
        ],
        "value": data.priority_behaviour if data.priority_behaviour else undefined
      }) }}

      {{ continue_button() }}

    </form>
  {{ two_thirds_column_end() }}
{% endblock content %}
