{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}
<div class="dashboard">

  <div class="module">
    <h2>{% trans "API versions" %}</h2>
    <div class="inline-group">

      <div class="inline-related" style="margin-bottom: 1em;">
        <p>
          <a href="{% url 'v1_admin:index' %}">
            {% trans "V1 tables admin" %}
          </a>
        </p>
        <p class="help">
          {% trans "Manage all database tables for API version 1 (V1_* tables)." %}
        </p>
      </div>

      <div class="inline-related" style="margin-bottom: 1em;">
        <p>
          <a href="{% url 'v2_admin:index' %}">
            {% trans "V2 tables admin" %}
          </a>
        </p>
        <p class="help">
          {% trans "Manage all database tables for API version 2 (V2_* tables)." %}
        </p>
      </div>

      <div class="inline-related" style="margin-bottom: 1em;">
        <p>
          <a href="{% url 'v3_admin:index' %}">
            {% trans "V3 tables admin" %}
          </a>
        </p>
        <p class="help">
          {% trans "Manage all database tables for API version 3 (V3_* tables)." %}
        </p>
      </div>

    </div>
  </div>

  <div class="module">
    <h2>{% trans "HTSH Access" %}</h2>
    <div class="inline-group">
      <div class="inline-related" style="margin-bottom: 1em;">
        <p>
          <a href="/admin/htsh/">
            {% trans "HTSH admin" %}
          </a>
        </p>
        <p class="help">
          {% trans "Manage HTSH users, invitations, magic links, and filters." %}
        </p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
