{% extends "web/layout/base.jinja" %}
{% from "web/macros/layout.jinja" import two_thirds_column_start, two_thirds_column_end %}
{% from "web/macros/forms.jinja" import form_error_summary, continue_button, back_link %}
{% set pageName = "Disclaimer" %}
{% block beforeContent %}
  {{ back_link("/pilot/returning") }}
{% endblock beforeContent %}
{% block content %}
  {{ two_thirds_column_start() }}
  {% if error %}
    {{ form_error_summary({
      "titleText": "There is a problem",
      "errorList": [
        {
          "text": "Please choose an option",
          "href": "#disclaimer_accepted"
        }
      ]
    }) }}
  {% endif %}
  <h1>Can we use your basic information?</h1>
  <p>We need to know a few details about you so we can:</p>
  <ul>
    <li>make suggestions that might work for you</li>
    <li>check in with you to help you keep going - we'll ask you if you're OK with this later</li>
    <li>make sure only poeple who have been invited can use this service</li>
  </ul>
  <p>You can opt out of this service at any time, and anything you've told us will be deleted</p>
  <p>
    To find out more about how we'll use your information, <a href="/" target="_blank" rel="noopener noreferrer">read our privacy policy / terms (opens in a new tab)</a>
  </p>
  <form method="post">
    {{ csrf_input }}
    {{ radios({
        "idPrefix": "disclaimer_accepted",
        "name": "disclaimer_accepted",
        "fieldset": {
        "legend": {
        "text": "We'll need your contact details and postcode. Is that OK?",
        "classes": "nhsuk-fieldset__legend--l"
        }
        },
        "items": [
        {
        "value": "accepted",
        "text": "Yes, that's OK"
        },
        {
        "value": "not-accepted",
        "text": "No, I don't want to continue"
        }
        ],
        "values": data.disclaimer if data.disclaimer else undefined
        }) }}
    {{ continue_button() }}
  </form>
  {{ two_thirds_column_end() }}
{% endblock content %}
