{% extends "web/layout/base.jinja" %}

{% block content %}
  <h1 class="nhsuk-heading-l">Check your email</h1>
  <p>If that email address is registered, you’ll receive a sign-in link shortly.</p>
{% endblock %}
