{% extends "web/layout/base.jinja" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Get a security code</h1>

      {% if form.errors %}
        {{ errorSummary({
          "titleText": "There is a problem",
          "errorList": [
            {
              "text": form.contact.errors[0],
              "href": "#contact"
            }
          ]
        }) }}
      {% endif %}

      <form method="post" novalidate>
        {{ csrf_input }}
    
        {{ input({
          "label": {
            "text": "Email address or mobile phone number",
            "classes": "nhsuk-label--m",
            "isPageHeading": "false"
          },
          "hint": {
            "text": "Use the contact details you signed up with and we’ll send you a security code you can use to sign in."
          },
          "id": "contact",
          "name": "contact",
          "type": "text",
          "value": form.contact.value() or "",
          "errorMessage": (
            {
              "text": form.contact.errors[0]
            }
            if form.contact.errors
            else None
          )
        }) }}
    
        {{ button({
          "text": "Continue"
        }) }}
      </form>
  
      <p>
        <a href="#">I do not have access to the phone or email account</a>
      </p>
  
    </div>
  </div>
{% endblock %}
