{% extends "web/layout/base.jinja" %}

{% block content %}
  <h1 class="nhsuk-heading-l">Request received</h1>
  <p>Thanks — if you’re approved for the pilot, you’ll receive an invite by email (and SMS if applicable) soon.</p>
{% endblock %}
