{# Thin wrapper around NHS error summary so behaviour can be centralised later #}
{% macro form_error_summary(config) %}
  {{ errorSummary(config) }}
{% endmacro %}

{% macro continue_button(text="Continue") %}
  {{ button({
    "text": text
  }) }}
{% endmacro %}

{% macro back_link(href, text="Back") %}
  {{ backLink({
    "href": href,
    "text": text
  }) }}
{% endmacro %}
