{% extends 'web/base.jinja' %}

{% set pageName = "Can a researcher contact you later on?" %}

{% block beforeContent %}
  {{ backLink({
    "href": "/consent-to-pilot",
    "text": "Back"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {% if error %}
    {{ errorSummary({
      "titleText": "There is a problem",
      "errorList": [
        {
          "text": "Please choose an option",
          "href": "#consent-to-ur"
        }
      ]
    }) }}
    {% endif %}

    <form method="post">

      {{ radios({
        "idPrefix": "consent-to-ur",
        "name": "consent-to-ur",
        "errorMessage": {
          "text": "Please choose an option"
        } if error else undefined,
        "fieldset": {
          "legend": {
            "text": "Can a researcher contact you later on?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": "true"
          }
        },
        "hint": {
          "text": "Is it OK if one of our researchers asks you about your experience using this website in [x time]?"
        },
        "items": [
          {
            "value": "yes",
            "text": "Yes"
          },
          {
            "value": "no",
            "text": "No"
          }
        ],
        "value": data["consent-to-ur"] if data["consent-to-ur"] else undefined
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
