{% extends 'web/base.jinja' %}

{% set pageName = "What is your name?" %}

{% block beforeContent %}
  {{ backLink({
    "href": "/consent-to-ur",
    "text": "Back"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {% if error %}
    {{ errorSummary({
      "titleText": "There is a problem",
      "errorList": [
        {
          "text": "Enter your name",
          "href": "#details-name"
        }
      ]
    }) }}
    {% endif %}

    <form method="post">

      {{ input({
        "label": {
          "text": "What is your name?",
          "classes": "nhsuk-label--l",
          "isPageHeading": "true"
        },
        "hint": {
          "text": "So we can say hi on our emails"
        },
        "id": "details-name",
        "name": "details-name",
        "value": data["details-name"] if data["details-name"] else undefined,
        "errorMessage": {
          "text": "Enter your name"
        } if error else undefined
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
