{% extends 'web/base.jinja' %}

{% set pageName = "What changes do you want to make to stay healthy?" %}

{% block beforeContent %}
  {{ backLink({
    "href": "/details-postcode",
    "text": "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if error %}
      {{ errorSummary({
        "titleText": "There is a problem",
        "errorList": [
          {
            "text": "Please choose an option",
            "href": "#goals"
          }
        ]
      }) }}
      {% endif %}

      <form method="post">
        {{ csrf_input }}

        {{ checkboxes({
          "idPrefix": "goals",
          "name": "goals",
          "errorMessage": {
            "text": "Please choose an option"
          } if error else undefined,
          "fieldset": {
            "legend": {
              "text": "What changes do you want to make to stay healthy?",
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": "true"
            }
          },
          "hint": {
            "text": "Choose as many or as few as you like"
          },
          "items": [
            {
              "value": "goals.healthy_eating",
              "text": "Healthy eating"
            },
            {
              "value": "goals.exercise",
              "text": "Exercise"
            }
          ],
          "values": data.goals if data.goals else undefined
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
