<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PPS Weight Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <img src="{{ static('images/django.jpg') }}" alt="Django" width="125">
	
    <h1>Hello World!</h1>

    <p>Helath check should return "ok"</p>
    <button id="btn-helath-check" type="button">Health Check</button>
    Response:<pre id="out"></pre>

    <script>
      const btn = document.getElementById('btn-helath-check');
      const out = document.getElementById('out');
      btn?.addEventListener('click', async () => {
        try {
          const resp = await fetch('/health', { method: 'GET' });
          const text = await resp.text();
          out.textContent = text;
        } catch (e) {
          out.textContent = 'error';
        }
      });
    </script>
  </body>
</html>
