{% extends "web/base.jinja" %}

{% block content %}
  <h1 class="nhsuk-heading-xl">Weight Management</h1>
  <p>Welcome to the Weight management home page</p>
  <p>Rendered by Django using Jinja2 templates</p>
{% endblock %}
