{% extends 'web/base.jinja' %}

{% set pageName = "Do you prefer to do things on your own or in a group?" %}

{% block beforeContent %}
  {{ backLink({
    "href": "/barriers",
    "text": "Back"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {% if error %}
    {{ errorSummary({
      "titleText": "There is a problem",
      "errorList": [
        {
          "text": "Please choose an option",
          "href": "#who_with"
        }
      ]
    }) }}
    {% endif %}

    <form method="post">
      {{ csrf_input }}

      {{ radios({
        "idPrefix": "who_with",
        "name": "who_with",
        "errorMessage": {
          "text": "Please choose an option"
        } if error else undefined,
        "fieldset": {
          "legend": {
            "text": "Do you prefer to do things on your own or in a group?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
          {
            "value": "who_with.alone",
            "text": "Alone"
          },
          {
            "value": "who_with.in_a_group",
            "text": "In a group"
          },
          {
            "divider": "or"
          },
          {
            "value": "dont_mind",
            "text": "Don’t mind"
          }
        ],
        "value": data.who_with if data.who_with else undefined
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
