{% extends 'web/base.jinja' %}

{% set pageName = "Do you prefer digital or in-person activities?" %}

{% block beforeContent %}
  {{ backLink({
    "href": "/preference-timetable",
    "text": "Back"
  }) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {% if error %}
    {{ errorSummary({
      "titleText": "There is a problem",
      "errorList": [
        {
          "text": "Please choose an option",
          "href": "#channel"
        }
      ]
    }) }}
    {% endif %}

    <form method="post">
      {{ csrf_input }}

      {{ radios({
        "idPrefix": "channel",
        "name": "channel",
        "errorMessage": {
          "text": "Please choose an option"
        } if error else undefined,
        "fieldset": {
          "legend": {
            "text": "Do you prefer digital or in-person activities?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": "true"
          }
        },
        "items": [
          {
            "value": "channel.digital",
            "text": "Digital"
          },
          {
            "value": "channel.in_real_life",
            "text": "In person"
          },
          {
            "divider": "or"
          },
          {
            "value": "dont_mind",
            "text": "Don’t mind"
          }
        ],
        "value": data.channel if data.channel else undefined
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

    </form>
  </div>
</div>
{% endblock %}
